/* #bg {
    overflow: hidden;
    content: "";
    background: url(../img/bg.jpg) no-repeat center center fixed;;
    background-size: cover;
    z-index: -1;
}

b {
    color: rgb(252, 16, 73);
}

.full-width {
    width:100%;
}

.navbar {
    float: right;
}

.nav {
    display: flex;
    position: relative;
    list-style: none;
    flex-grow:1;
}

.nav li {
    position: relative;
    padding: 20px;
    font-size: 22px;
    font-family: 'Karla', sans-serif;
    color: #fff;
    transition: 0.1s all linear;
    cursor: pointer;
}

.nav li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    height: 100%;
    border-bottom: 2px solid rgb(252, 16, 73);
    transition: 0.2s all linear;
}

.nav li:hover::before {
    width: 100%;
    top: 0;
    left: 0;
    transition-delay: 0.1s;
    border-bottom-color: rgb(252, 16, 73)f;
}

.nav li:hover~li::before {
    left: 0;
}

.nav li:active {
    background: #fff;
}

.nav li:hover {
    color: rgb(252, 16, 73);
}

a:hover {
    text-decoration: none;
}

.intro {
    font-family: industry,"Open Sans",sans-serif;
    color: #fff;
    font-size: 37px;
}

.black {
    background-color: rgb(53, 52, 52);
    height: 80px;
    z-index: -1;
}

.img-pg {
    width: 100%;
    height: auto;
}

.pg {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    padding: 50px 0;
    display: block;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.discrip {
    color: #8b8b8b;
} */


.tech {
    display: inline-block;
    border: 1px solid #F74F54;
    color: #F74F54;
    font-size: 12px;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.project-info {
    margin-top: 15px;
}

.project-info p {
    font-weight:450;
    line-height: 1.6;
    margin: 10px 0px; 
}

.project-info a {
    color:#F74F54;
}

.float {
    position: absolute;
    top: 50%;
    right: 40px;
    float: right;
    background-color: #F74F54;
    border-radius: 150px;
    color:#fff;
    font-size: 15px;
    text-align: center;
    width: 150px;
    height: 35px; 
}

/* .fa-github {
    color: black;
}

.avatar-sm {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.avatar-lg {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.move-down {
    position: relative;
    top:50px;
}

.row button {
    display: flex;
}

.logo {
    margin-top: 10px;
    height: 60px;
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -70px;
}

.contact {
    margin-top: 30px;
}

.contact li {
    font-size: 20px;
    text-align: left;
    list-style: none;
    margin-top: 17px;
}

.contact i {
    color: rgb(252, 16, 73);
}


.form {
    margin-top:30px;
}

.form  input,
.form  textarea
{
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}

.form  textarea{
    resize:none;
    overflow: hidden;
}

.btn-contact {
    background-color: rgb(252, 16, 73);
    border: none;
    border-radius: 5px;
    color: #fff;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 700;
    width: 142px;
    height: 35px;
}


@media screen and (max-width:992px){
    .form {
        text-align: center;
    }

    .form  input,
    .form  textarea 
    {
        width: 80%;
        padding: 7px;
        border: none;
        border-bottom: 1px solid #ddd;
        background: transparent;
        margin-bottom: 10px;
        font: 16px Arial, Helvetica, sans-serif;
        height: 45px;
        text-align: center;
    }

}

@media screen and (max-width: 758px) {
    .nav li {
        padding: 10px;
        margin-top: 15px;
    }

    .intro {
        font-size: 30px;
    }
} */
